body {
    background-color: #2b542c;
    color: #FFF;
}

#view {}

.properyListing {}

.propertyImageLink {}

.propertyImage {}

.propertyDetails {}

.appointmentControls {}

.emailControls {}

#map-canvas {
    height: 500px;
    width: 500px;
}

.angular-google-map-container {
    height: 400px;
}
